[submodule "src/control/pure_pursuit"]
	path = src/control/pure_pursuit
	url = https://github.com/GIU-F1Tenth/pure_pursuit.git
	branch = dev
[submodule "src/watchdog/watchdog"]
	path = src/watchdog/watchdog
	url = https://github.com/GIU-F1Tenth/watchdog.git
[submodule "f1tenth_gym_ros"]
	path = f1tenth_gym_ros
	url = https://github.com/f1tenth/f1tenth_gym_ros.git
