[submodule "src/control/pure_pursuit"]
	path = src/control/pure_pursuit
	url = https://github.com/GIU-F1Tenth/pure_pursuit.git
	branch = dev
[submodule "src/watchdog/watchdog"]
	path = src/watchdog/watchdog
	url = https://github.com/GIU-F1Tenth/watchdog.git
[submodule "src/drivers/urg_node2"]
	path = src/drivers/urg_node2
	url = https://github.com/Hokuyo-aut/urg_node2
