[submodule "src/control/pure_pursuit"]
	path = src/control/pure_pursuit
	url = git@github.com:GIU-F1Tenth/pure_pursuit.git
[submodule "src/watchdog/watchdog"]
	path = src/watchdog/watchdog
	url = git@github.com:GIU-F1Tenth/watchdog.git
[submodule "src/localization/nav2"]
	path = src/localization/nav2
	url = https://github.com/ros-navigation/navigation2.git
	branch = humble
